# 数据抽取

loc属性：以列名(column)和行名(index)作为参数，当只有一个参数时，默认是行名。

iloc属性：以行和列的位置索引(0,1,2...)作为参数，0表示第一行（列）。

In [1]:
import pandas as pd 
pd.set_option('display.unicode.east_asian_width', True)

In [33]:
data = [[11,12,13],[12,13,14],[13,14,15],[14,15,16]]
columns = ['语文','数学','英语']
index = ['lili','anan','dan','zhu']
df = pd.DataFrame(data=data, columns=columns,index=index)

# 一般而言下面所有代码需要写入print()才能显示，否则只显示最后一个
# ','代表行列分明，只有添加第二个','时，才需要添加[]，以避免混淆。

In [34]:
# 抽取某一行的数据
df.loc['lili']
# 抽取某行某列的特定单元格的数据
df.loc['lili', '语文']
# 抽取某一行的数据
df.iloc[0]
# 抽取某行某列的特定单元格的数据
df.iloc[0, 0]

11

In [35]:
# 抽取多行数据
# 抽取任意多行数据
df.loc[['lili', 'dan']]
df.iloc[[0, 2]]
# 抽取连续多行数据
df.loc['lili':'anan']
df.loc[:'anan']
df.loc['anan':]
df.iloc[1:3]
df.iloc[:3]
df.iloc[2:]

     语文  数学  英语
dan    13    14    15
zhu    14    15    16

In [36]:
# 抽取列数据
print(df['语文'])
print(df.loc[:, '语文':'英语'])
print(df.iloc[:, [0, 1]])

lili    11
anan    12
dan     13
zhu     14
Name: 语文, dtype: int64
      语文  数学  英语
lili    11    12    13
anan    12    13    14
dan     13    14    15
zhu     14    15    16
      语文  数学
lili    11    12
anan    12    13
dan     13    14
zhu     14    15

In [45]:
# 抽取行、列数据
print(df.loc[['lili','anan'],['语文','数学']])
print(df.loc['lili':'dan','语文':'英语'])
print(df.iloc[0:2,0:1]) # 这种形式下输出结果不包含:右边的数据
print(df.iloc[[0,2],[0,1]])

# 下面两各输出结果是有区别的。
print(df.iloc[0,1])
print(df.iloc[[0],[1]])

      语文  数学
lili    11    12
anan    12    13
      语文  数学  英语
lili    11    12    13
anan    12    13    14
dan     13    14    15
      语文
lili    11
anan    12
      语文  数学
lili    11    12
dan     13    14
12
      数学
lili    12

In [54]:
# 按照指定条件获取数据
df.loc[(df['语文']>10) &( df['数学']<14)]

      语文  数学  英语
lili    11    12    13
anan    12    13    14